<header>
    <div class="container">
        <a routerLink="/" style="font-size: 18px;" class="logo">{{appTitle}}</a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/add">Create Entity</a></li>
                <li><a routerLink="/jsonview">View Json</a></li>
                <li><a routerLink="/help">Help</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- <footer id="footer" class="pull-right">Developed by Abdullah Saleh Robin, Programmer, Synesis IT</footer> -->